.fight_logo .fighter_moves{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    -moz-transform: translateX(40%);
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    -moz-animation: horizontal 5s linear infinite alternate;
    -webkit-animation: horizontal 5s linear infinite alternate;
    animation: horizontal 5s linear infinite alternate;
}