h1 {
      text-align: center;
    color: blue;
}


#party-container, #party-message {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#party-container {
    font-size: 20px;
  
  
  }

#party-container:hover {
    text-align: center;
    background-color: #202f3f;
    color: blue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    }