h1 {
      text-align: center;
    color: light green;
}




#party-container {
    font-size: 20px;
  
  
  }

body {
    text-align: center;
    background-color: #202f3f;
    color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    }