.header {
    padding: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: green;
}

.items:first-of-type {
   border: 5px black solid;
    background-color: brown;
    font-size: 32px;
    color: rgb(202, 135, 35);
    width: 700px;

}
.items:nth-of-type(2) {
    border: 5px black solid;
    width:500px;
    background-color: aqua;
    font-size: 32px;
    color: rgb(14, 14, 220);

}


.canned {
    background-color: beige;
    border-top: 5px;
    border-spacing: 5px;
}