#form-body{
    width: 67.5vw;
    height: 90vw;
}
#form {
    width: 67.5vw;
    height: 90vw;
    background: url(https://ichef.bbci.co.uk/images/ic/480xn/p0222n9d.jpg) no-repeat;
    background-size: cover;
    background-color:silver;
    display: flex;
    flex-direction: column;
    align-content: center;

    
}