#form-body{
    width: 67.5vw;
    height: 90vw;
}
#form {
    width: 67.5vw;
    height: 90vw;
    background: url();
    background-color:silver;
    display: flex;
    flex-direction: column;
    align-content: center;

    
}